REACT_APP_VERSION=1.0.0

# Для production через nginx оставьте /api.
# Для локальной разработки можно указать, например: https://localhost:3001
REACT_APP_API_URL=/api

# Только для локального запуска react-scripts start по HTTPS.
HTTPS=true
SSL_CRT_FILE=./certs/localhost.pem
SSL_KEY_FILE=./certs/localhost-key.pem
PORT=443
